# User-specific files
.idea/
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]istro/
[Dd]ebugCore/
[Dd]ebugPortable/
[Dd]Release/
[Dd]ReleasePortable/
bin/
obj/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer logs
*.log

# Windows Installer temporary files
*.pdb

# NuGet
*.nupkg

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Microsoft Visual Studio for Mac config folder
.vscode/
